langchain
langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
notebook
tavily-python
wikipedia
trustcall
langgraph-cli
llama-index-llms-groq
llama-index
ragas
torch
transformers
sentence-transformers
tqdm
openpyxl
openai
pandas
datasets
ragatouille
beautifulsoup4
requests
faiss-cpu
pillow
pytesseract